@{
	ViewData["Title"] = "Carrossel";
}

@model List<Produto>;

<h3>Products</h3>

<div id="my-carousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div>

        @{
            const int TAMANHO_PAGINA = 4;

            int paginas = (int)Math.Ceiling((double)Model.Count() / TAMANHO_PAGINA);
        }

        @for (int pagina = 0; pagina < paginas; pagina++)
        {

            <div class="item @(pagina == 0 ? "active" : "")">
                <div class="row">

                    @{
                        var produtosDaPagina = Model.Skip(pagina * TAMANHO_PAGINA).Take(TAMANHO_PAGINA);
                    }

                    @foreach (var produto in produtosDaPagina)
                    {

                        <div class="col-md-3 col-sm-3 col-lg-3">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <img class="img-produto-carrossel" src="/images/produtos/large_@(produto.Codigo).jpg" />
                                </div>
                                <div class="panel-footer produto-footer">
                                    <div class="produto-nome">@produto.Nome</div>
                                    <div><h4><strong>$ @produto.Preco</strong></h4></div>
                                    <div class="text-center">
                                        <a asp-action="carrinho"
										   asp-route-codigo="@produto.Codigo"
										   class="btn btn-success">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>

        }
    </div>


</div>