
@model Inicio;
@{
    ViewData["Title"] = "AP - Automation Place";
}
<br />
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="row">
                <div class="col-md-2">
                    <div class="col-md-1">
                        <img src="~/images/logo-new.png" style="width:100px;height:100px;">
                    </div>
                </div>
                <div class="col-md-3">
                    <h3>Automation Place 4QA</h3>
                    Place to execute your automation tests
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <h3>To Training</h3>
                <div><a asp-action="simpleloginform">Simple Login</a></div>
                <div><a asp-action="simpleform">Simple form</a></div>
                <div><a asp-action="alternativeform">Upload File Form</a></div>
                <div><a asp-action="angularform">AngularJS Form</a></div>
                <div><a asp-action="carrossel">eCommerce Fake 4QA</a></div>
            </div>

            <div class="col-md-9">
                <h3>Description</h3>
                <div>A simple login page to teste success or failed login.</div>
                <div>A simple form with commons elements, textbox, listbox, checkbox and radios</div>
                <div>A form to upload files.</div>
                <div>A form with AngularJs Elements to test interactions with elements and CRUD tests.</div>
                <div>A small application simulating an eCommerce, great for creating different test cases.</div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <h3>Automation Projects</h3>
                <div><a asp-action="carrossel">Capybara Automation</a></div>
                <div><a asp-action="carrossel">Selenium Webdriver Automation</a></div>
                <div><a asp-action="carrossel">Rest Api Automation</a></div>
                <div><a asp-action="carrossel">Cucumber Automation</a></div>
            </div>

            <div class="col-md-7">
                <h3>Description</h3>
                <div>A small application simulating an eCommerce, great for creating different test cases.</div>
                <div>A small application simulating an eCommerce, great for creating different test cases.</div>
                <div>A small application simulating an eCommerce, great for creating different test cases.</div>
                <div>A small application simulating an eCommerce, great for creating different test cases.</div>
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col-md-6">
                <h3>About Author</h3>
                <div>
                    Rodrigo is a Brazilian from São Paulo, has been working with test automation since 2013 and always looks for new tools to optimize work and ensure the quality of the products he works on.<br /><a href="https://www.linkedin.cn/in/rodrigo-cassis-52690a28/"> https://www.linkedin.cn/in/rodrigo-cassis-52690a28 </a><br /><a href="https://github.com/rodrigocassis">https://github.com/rodrigocassis</a>
</div>
            </div>

            <div class="col-md-6">
                <h3></h3><br />
                <div><img src="~/images/circle-cropped.png" style="width:100px;height:100px;"></div>
            </div>
        </div>


    </div>
</div>

