
@{
    ViewData["Title"] = "AP - Automation Place";
}
<br /><br />
<form asp-action="SimpleFormResult" method="post">

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        You are logged! 
                    </h3>
                </div>
            </div>
            <hr />
            <div class="form-group">



                <button type="submit"
                        class="btn btn-success" asp-action="SimpleLoginForm">
                    Return to Form
                </button>

                <button type="submit"
                        class="btn btn-success" asp-action="/">
                    Return to Home
                </button>




            </div>


        </div>
    </div>

</form>

